.modalNewBox {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 700px;
  width: 90vw;
  background-color: #f9fafb !important;
  box-shadow: 0 8px 8px -4px rgba(16, 24, 40, 0.03), 0 20px 24px -4px rgba(16, 24, 40, 0.08);
  padding: 24px;

  .chipEth {
    color: #175cd3 !important;
    background-color: #eff8ff !important;
    width: fit-content !important;
    font-weight: 500 !important;
  }

  .chipAvax {
    color: #c01048 !important;
    background-color: #fff1f3 !important;
    width: fit-content !important;
    font-weight: 500 !important;
  }

  .chipBsc {
    color: #854a0e !important;
    background-color: #fef7c3 !important;
    width: fit-content !important;
    font-weight: 500 !important;
  }

  .tableBody {
    width: 100%;
    box-shadow: none !important;
    border-radius: 0px;
    border: 1px solid #eaecf0;
  }

  .title {
    text-align: center;
    margin-top: -10px !important;
    font-size: 20px !important;
  }

  .divider {
    width: 100%;
    height: 1px;
    margin: 19px 0px 10px;
  }

  .subTItle {
    text-align: left;
    font-family: Inter;
    font-size: 16px !important;
    font-weight: 500 !important;
    margin-top: 30px;
  }

  .desc {
    font-family: Inter;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    margin-top: 10px;
  }

  .tab0 {
    .toModalFilterBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      background-color: #eceaf7;
      color: #6941c6;
      border: none;
      padding: 7px 10px;
      border-radius: 16px;
      font-family: Inter;
      font-size: 12px;
      font-weight: 500;
    }

    .tableBox {
      // background-color: #f2f4f7;
      width: 100%;

      .tableFilter {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 10px;
      }

      .headItem {
        padding: 15px !important;
        font-size: 12px !important;
        font-weight: 500 !important;
        color: #344054 !important;
      }

      .headItem1 {
        width: 133px !important;
        align-items: center !important;
      }

      .headItem2 {
        width: 184px !important;
        align-items: center !important;
      }

      .headItem3 {
        width: 149px !important;
        align-items: center !important;
      }

      .headItem4 {
        width: 163px !important;
      }

      .helpIcon {
        margin-left: 5px;
        vertical-align: middle;
      }

      .info {
        display: flex;
      }

      .infoMobile {
        display: none;
      }
    }

    .infoMobile {
      display: none;
    }
  }

  .tab1 {
    border-radius: 8px;
    margin-top: 10px;
    // background-color: #eaecf0;

    .apiKey {}

    .tierBody {
      flex-direction: row;

      .tier {
        padding: 0px;
        border: solid 1px #d6bbfb;
        width: 43%;
        border-radius: 10px;
        color: #000 !important;

        // div {
        //   padding: 16px;
        // }

        .tierLetter {
          font-family: Inter;
          font-size: 18px;
          font-weight: 500;
        }

        .price {
          font-family: Inter;
          font-size: 14px;
          line-height: 1.43;
          text-align: left;

          span {
            font-size: 24px;
            font-weight: 500;
            margin-right: 10px;
          }
        }
      }
    }

  }

  .tab2 {
    .projectDetail {
      padding: 20px 15px;
      border-radius: 8px;
    }

    .amount {
      flex-direction: column;

      .amountLeft {
        width: 40%;
      }

      .amountRight {
        width: 60%;
      }
    }

    .info {
      padding: 20px 15px;
      border-radius: 8px;

      .left {
        width: 40%;
        text-align: left;
      }

      .right {
        width: 60%;
        text-align: left;

        // div {
        //   text-align: left;
        // }
      }
    }
  }

  .cancelBtn {
    width: 120px !important;
    height: 44px !important;
    border-radius: 6px !important;
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05) !important;
    border: solid 1px #d0d5dd !important;
    margin-top: 10px;
    margin: 0 auto !important;
  }
}


.dotsBody {
  padding: 20px 0;
  background: none;

  .dot {
    outline: none;
    border: none;
    width: 30px;
    height: 6px;
    background: #e9d7fe;
    border-radius: 2px;
    cursor: pointer;
  }
}

.mobileNewBox {
  display: none;
}

@media (max-width: 576px) {
  .modalNewBox {
    .address {
      display: flex;
      align-items: center;
      gap: 5px;
      width: 350px;
      word-wrap: break-word !important;
    }

    // overflow-y: scroll;
    // overflow-x: hidden;
    width: calc(100% - 16px);
    padding: 15px;
    position: relative;
    margin: 15px 0px;

    .mobileDisplay {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 10px;
    }

    .tab0 {
      .tableBox {
        .tableFilter {
          display: none;
        }

        .tableBody {
          .headItem {
            width: 120px;
          }

          .info {
            display: none;
          }

          .infoMobile {
            display: flex;
          }
        }

        .headItem {
          padding: 10px !important;
          font-size: 12px !important;
          font-weight: 500 !important;
          color: #344054 !important;
        }

        .headItem1 {
          width: 109px !important;
          align-items: center !important;
        }

        .headItem2 {
          width: 120px !important;
          align-items: center !important;
        }

        .headItem3 {
          width: 115px !important;
          align-items: center !important;
        }

        .headItem4 {
          width: 114px !important;
        }

        .helpIcon {
          margin-left: 5px;
          vertical-align: middle;
        }
      }
    }

    .tab1 {
      .apiKey {
        display: none;
      }

      .tierBody {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        .tier {
          width: 100%;
          margin-top: 10px;
        }
      }
    }

    .tab2 {
      .detail {
        display: none;
      }

      .amount {
        flex-direction: column;

        .amountLeft {
          width: 100%;
        }

        .amountRight {
          width: 100%;
        }
      }

      .payAddress {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .right {
          font-size: 12px;
          margin-top: 10px;
        }
      }

      .info {
        .right {
          font-size: 9px;
          margin-top: 10px;
        }
      }
    }
  }
}

@media (max-height: 1200px) {
  .modalNewBox {
    transform: translateX(-50%);
  }
}

// @media (max-width: 1050px) {
//   .modalNewBox {
//     width: 375px;

//     .subTitle {
//       display: none;
//     }

//     .tab0 {
//       .tableBox {
//         .tableFilter {
//           display: none;
//         }

//         .tableBody {
//           display: none;
//         }

//         .tableMobileBody {
//           display: flex;
//         }
//       }
//     }
//   }
// }