.modalBox {
  position: relative;
  margin: 15px 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 680px;
  width: 90vw;
  box-shadow: 0 8px 8px -4px rgba(16, 24, 40, 0.03), 0 20px 24px -4px rgba(16, 24, 40, 0.08);
  padding: 24px;
  border-radius: 0px;

  .title {
    text-align: center;
    margin-top: 0px;
  }

  .key {
    color: #344054 !important;
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: #eaecf0;
    margin: 19px 0px 10px;
  }

  .hr {
    margin-top: 19px;
  }

  .subTItle {
    text-align: left;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
  }

  .bold {
    font-weight: 500;
  }

  .desc {
    font-family: Inter;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    margin-top: 10px;
  }

  .tab0 {
    .tableBox {
      // background-color: #f2f4f7;
      width: 100%;

      .tableFilter {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 10px;
        background: #f2f4f7 !important;
      }
    }

    .cancelBtn {
      margin-top: 10px;
    }
  }

  .tab1 {
    padding: 15px;
    border-radius: 8px;
    margin-top: 10px;
    // background-color: #eaecf0;

    .tier {
      padding: 16px;
      border: solid 1px #eaecf0;
      width: 43%;
      border-radius: 10px;

      .tierLetter {
        font-family: Inter;
        font-size: 18px;
        font-weight: 500;
      }

      .price {
        font-family: Inter;
        font-size: 14px;
        line-height: 1.43;
        text-align: left;
        margin-top: 15px;

        span {
          font-size: 24px;
          font-weight: 500;
          margin-right: 10px;
        }
      }
    }
  }

  .tab2 {
    .projectDetail {
      padding: 20px 15px;
      border-radius: 8px;
    }

    .info {
      padding: 20px 15px;
      border-radius: 8px;

      .left {
        width: 40%;
        text-align: left;
        color: #344054;
        font-weight: 500;
      }

      .right {
        width: 60%;
        text-align: left;
      }
    }
  }

  .tab3 {
    .projectInfo {
      padding: 20px 15px;
      border-radius: 8px;
    }

    font-size: 14px !important;
  }
}

.mobileBox {
  display: none;
}

.address {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 350px;
  color: #344054;
}

.left {
  color: #344054 !important;
  font-size: 14px !important;
  font-weight: 600 !important;
}

.right {
  color: #344054 !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  width: 60% !important;
}

.payLeft {
  width: 40%;
  gap: 5px;
}

.payRight {
  width: 60%;
  gap: 5px;
}

.mobileDisplay {
  font-size: 14px !important;
}

@media (max-width: 576px) {
  .modalBox {
    position: relative;
    margin: 15px 0px;

    * {
      box-sizing: border-box;
    }

    padding: 15px !important;
    width: calc(100% - 16px);
    transform: translateX(-50%);

    .mobileDisplay {
      font-size: 14px !important;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 10px;
    }

    .mobileBtns {
      flex-direction: column;
    }

    .payAddress {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      .left {
        width: 100%;
      }

      .right {
        font-size: 12px;
        margin-top: 10px;
      }
    }

    .address {
      font-size: 12px !important;
    }

    .mobileHidden {
      display: none;
    }

    .mobilePay {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 5px;

      .payLeft {
        width: 100%;
        gap: 5px;
      }

      .payRight {
        width: 100%;
        gap: 5px;
      }
    }
  }
}

@media (max-height: 1200px) {
  .modalBox {
    transform: translateX(-50%);
  }
}

@media (max-width: 440px) {
  .mobileBox {
    * {
      box-sizing: border-box;
    }

    width: 325px;
  }
}